:root {
  --timeline_range_background: #f4f1de;
  --timeline_range_break_background: #8d99ae;
  --timeline_range_period: black;
  --timeline_range_period_text: #2b2d42;
  --timeline_range_track: #ff4646;
  --timeline_range_border: #3d405b;
}

.video-player {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.video-player__container {
  position: relative;
}

.video-player__controls__container {
  display: flex;
  column-gap: 8px;

  order: 1;
}

.video-player__controls__button {
}

.video-player__timeline {
  position: relative;
  bottom: 0;
  left: 0;

  position: relative;
  height: 50px;

  overflow: hidden;
  white-space: nowrap;

  order: 2;
}

.video-player__timeline__range {
  position: absolute;

  height: 50%;
  top: 25%;

  z-index: 0;
}

.video-player__timeline__range[data-type="data"] {
  background: var(--timeline_range_background);
}

.video-player__timeline__range[data-type="break"] {
  background: var(--timeline_range_break_background);
}

.video-player__timeline__period {
  position: absolute;

  width: 1px;
  height: 50%;

  transform: translateY(50%);

  z-index: 1;

  background: var(--timeline_range_period);
}

.video-player__timeline__period_with_text {
  width: 2px;
}

.video-player__timeline__period__text {
  position: absolute;

  white-space: nowrap;

  bottom: -12px;
  transform: translateX(-50%);

  font-size: 10px;
  color: var(--timeline_range_period_text);
}

.video-player__timeline__track {
  position: absolute;

  width: 2px;
  height: 100%;

  z-index: 1;

  background: var(--timeline_range_track);
}
