:root {
  --timeline_range_background: #f4f1de;
  --timeline_range_break_background: #8d99ae;
  --timeline_range_period: black;
  --timeline_range_period_text: #2b2d42;
  /* --timeline_range_track: #edf2f4; */
  --timeline_range_track: #000;
  --timeline_range_border: #3d405b;
}

.video-player {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.video-player-container {
  position: relative;
}

.video-player-controls-container {
  display: flex;
  column-gap: 8px;

  order: 1;
}

.video-player_timeline {
  position: relative;
  bottom: 0;
  left: 0;

  display: flex;
  height: 22px;
  width: 100%;

  order: 2;
}

.video-player_timeline_range {
  height: 100%;
  flex-grow: 1;
  background: var(--timeline_range_background);
}

.video-player_timeline_range_break {
  background: var(--timeline_range_break_background);
}

.video-player_timeline_periods_container {
  position: absolute;

  display: flex;

  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.video-player_timeline_period_container {
  position: relative;
}

.video-player_timeline_period {
  height: 22px;
  width: 1px;

  background: var(--timeline_range_period);
}

.video-player_timeline_period_with_text {
  width: 2px;
}

.video-player_timeline_period_text {
  position: absolute;

  bottom: -20px;
  left: -20px;

  font-size: 12px;
  color: var(--timeline_range_period_text);
}

.video-player_timeline_track {
  position: absolute;

  width: 12px;
  height: 46px;

  top: -8px;

  z-index: 1;

  background: var(--timeline_range_track);
}

.video-player__controls__button {
}
